* {
    box-sizing: border-box;
}

.html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.search-form {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.search-form-header {
    color: black;
    margin-top: 100px;
    text-align: center;
    font-size: 5em
}

.search-input {
    font-size: 1.5em;
    max-width: 900px;
    width: 60%;
    flex-grow: 1;
    padding: .5em;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #00FF6C;
    color: black;
    outline: none;
    background-color: rgb(178, 248, 208, .2);
}

.search-input:focus {
    border: 3px solid #00FF6C;
}

.search-button {
    font-size: 1.5em;
    border: 2px solid #00FF6C;
    color: black;
    background: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(178, 248, 208, .2);
}

.search-button:hover {
    background-color: rgb(178, 248, 208, .5);
    color: white;
}

.search-query {
    color: black;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.query {
    color: black;
    font-weight: normal;
    text-decoration: underline;
}